{
	"name": "DNS module",
	"description": "Asset discovery, DNS Information",
	"allowed_asset_types": [
		"ip",
		"domain",
		"fqdn",
		"keyword"
	],
	"sublist3r_bin_path": "/owl_dns/external-libs/Sublist3r",
	"seg_path": "/owl_dns/etc/seg_list.json"
}